[Unit]
Description=Enable NVIDIA accounting mode for gpuwho
After=nvidia-persistenced.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-smi -am 1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
